BasedOnStyle: Google

IndentWidth: 4

AccessModifierOffset: -1
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
SortIncludes: false
ColumnLimit: 120
DerivePointerAlignment: true
KeepEmptyLinesAtTheStartOfBlocks: true
